.content .mw640 {
  height: 15rem;
  background: url("../images/box.jpg") no-repeat top center;
  background-size: 100%;
  position: relative; }
  .content .mw640 h4 {
    font-size: 40px;
    color: #f8e9c1;
    padding-top: 0.78125rem;
    line-height: 1.5;
    text-align: center;
    font-weight: bold; }
    [data-dpr="2"] .content .mw640 h4 {
      font-size: 80px; }
    [data-dpr="3"] .content .mw640 h4 {
      font-size: 120px; }
  .content .mw640 .text {
    height: 2.03125rem;
    background: url("../images/box-text.png") no-repeat center;
    background-size: auto 100%;
    position: relative;
    z-index: 10; }
  .content .mw640 .time {
    font-size: 20px;
    color: #feec22;
    line-height: 1.5;
    text-align: center; }
    [data-dpr="2"] .content .mw640 .time {
      font-size: 40px; }
    [data-dpr="3"] .content .mw640 .time {
      font-size: 60px; }
  .content .mw640 .box {
    position: absolute;
    width: 10rem;
    height: 12.85938rem;
    background: url("../images/box1.png") no-repeat center;
    background-size: 100%;
    top: 2.1875rem;
    left: 0;
    z-index: 9;
    animation: upDown 2s infinite 0s; }
  .content .mw640 .button {
    position: relative;
    z-index: 10;
    display: block;
    height: 1.23438rem;
    background: url("../images/box-button.png") no-repeat center;
    background-size: auto 100%;
    margin-top: 7.5rem; }
  .content .mw640 > p {
    position: relative;
    z-index: 10;
    font-size: 18px;
    color: #d5e6f9;
    line-height: 1.5;
    text-align: center; }
    [data-dpr="2"] .content .mw640 > p {
      font-size: 36px; }
    [data-dpr="3"] .content .mw640 > p {
      font-size: 54px; }
  .content .mw640 .popM {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0 0.3125rem;
    top: 0;
    left: 0;
    z-index: 100;
    display: none; }
    .content .mw640 .popM .popM-content {
      padding-bottom: 1.5625rem;
      position: relative;
      width: 9.375rem;
      border: 0.09375rem solid #3da0eb;
      border-radius: 0.09375rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #ffe25d; }
      .content .mw640 .popM .popM-content .close {
        position: absolute;
        width: 1.5625rem;
        height: 1.5625rem;
        padding: 0.39063rem;
        background: url("../images/close.png") no-repeat center;
        background-size: 50%;
        top: -0.78125rem;
        right: -0.78125rem; }
      .content .mw640 .popM .popM-content h6 {
        font-size: 30px;
        color: #000000;
        text-align: center;
        margin: 0.85938rem 0; }
        [data-dpr="2"] .content .mw640 .popM .popM-content h6 {
          font-size: 60px; }
        [data-dpr="3"] .content .mw640 .popM .popM-content h6 {
          font-size: 90px; }
      .content .mw640 .popM .popM-content .rule {
        padding: 0 0.39063rem; }
        .content .mw640 .popM .popM-content .rule span {
          float: left;
          display: block;
          font-size: 20px;
          color: #000000;
          line-height: 1.5; }
          [data-dpr="2"] .content .mw640 .popM .popM-content .rule span {
            font-size: 40px; }
          [data-dpr="3"] .content .mw640 .popM .popM-content .rule span {
            font-size: 60px; }
        .content .mw640 .popM .popM-content .rule p {
          font-size: 20px;
          color: #000000;
          line-height: 1.5;
          padding-left: 0.70313rem; }
          [data-dpr="2"] .content .mw640 .popM .popM-content .rule p {
            font-size: 40px; }
          [data-dpr="3"] .content .mw640 .popM .popM-content .rule p {
            font-size: 60px; }

@keyframes upDown {
  0% {
    transform: translateY(0.5rem); }
  50% {
    transform: translateY(-0.5rem); }
  100% {
    transform: translateY(0.5rem); } }

/*# sourceMappingURL=box.css.map */
