body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, i, b {
    margin: 0;
    padding: 0;
    font: 12px 'Microsoft Yahei', Tahoma, Simsun;
}
html{
    font-size: 98px;
}
.mw640 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 10rem;
    margin: 0 auto;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.oh{
    overflow: hidden;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clear:after{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    clear: both;
}
